body {
  text-align: center;
  font-family: Century;
  color: white;
  background-color: silver;
}
html {
  scroll-behavior: smooth;
}
section {
  width: 100%;
  padding: 5px 10% 5px 10%;
}
a img {
  width: 100%;
  border-style: solid;
  border-color: darkgray;
  border-width: 5px;
}
nav {
    position: sticky;
    padding-left: 5px;
}
.nav li:hover {
  text-decoration: underline;
}
li a:hover {
  background-color: black !important;
  color: yellow !important;
}
.dropdown-menu li {
  color: black;
  background-color: yellow;
  font-size: 20px;
}
.dropdown-menu {
  padding: 0;
}
.active {
  text-decoration: underline;
}
.container-fluid {
  padding: 0;
}
.jsbutton1 {
  width: 200px;
  height: 100px;
  background-color: yellow;
}
.navbar a {
  color: black;
}
.navbar {
  background-color: yellow;
  font-size: 20px;
}
#button {
  font-size: 100px;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
  animation: rainbow 5s linear infinite;
  margin-left: 25%;
  margin-right: 25%;
}
@keyframes rainbow {
  0%   {background-color: red;}
  12.5%  {background-color: orange;}
  25%  {background-color: yellow;}
  37.5%  {background-color: green;}
  50%  {background-color: lightblue;}
  62.5%  {background-color: blue;}
  75%  {background-color: indigo;}
  87.5%  {background-color: violet;}
  100% {background-color: red;}
}
#jsimg1 {
  width: 500px;
  height: 500px;
}
#sec-title {
  background-image: url("img/background1.jpg");
}
#sec-website {
  background-color: black;
}
#sec-end img {
  width: 100%;
}
#sec-end {
  padding: 0;
}
#sec-button {
  background-color: black;
}
