body {
  text-align: center;
  font-family: Century;
  color: white;
  background-color: yellow;
}
html {
  scroll-behavior: smooth;
}
section {
  width: 100%;
  padding: 20px 10% 20px 10%;
}
img {
  width: 100%;
}
a img {
  filter: blur(4px);
}
nav {
    position: sticky !important;
    top: 0 !important;
    z-index: 100;
    padding-left: 5px;
    border-radius: 0px !important;
    background-color: yellow;
    font-size: 20px;
}
{font-size: 150%; didnt work with h1, h2, h3}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 31.2px;
}
h4, p {
  font-size: 150%;
}
.nav li:hover {
  text-decoration: underline;
}
li a:hover {
  background-color: black !important;
  color: yellow !important;
}
.text2 {
  font-family: monospace;
}
.backgroundA {
  width: 75%;
  float: right;
}
.backgroundB {
  width: 75%;
  float: left;
}
.dropdown-menu li {
  color: black;
  background-color: yellow;
  font-size: 20px;
}
.dropdown-menu {
  padding: 0;
}
.active {
  text-decoration: underline;
}
.container-fluid {
  padding: 0;
}
.sec-website-div {
  position: relative;
  border-style: solid;
  border-color: yellow;
  border-width: 5px;
}
.sec-website-button {
  font-size: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}
.sec-website-button, #sec-title-button, .clock {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px;
  color: black;
  background-color: yellow;
}
#sec-title-button {
  font-size: 50px;
  width: 30%;
  border-radius: 30px;
  margin-left: 35%;
  margin-right: 35%;
}
.jsbutton1 {
  width: 200px;
  height: 100px;
  background-color: yellow;
}
.navbar a {
  color: black;
}
.navbar {
  margin: 0;
}
#hire-me-button {
  font-size: 100px;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
  animation: rainbow 5s linear infinite;
  margin-left: 25%;
  margin-right: 25%;
}
@keyframes rainbow {
  0%   {background-color: red;}
  12.5%  {background-color: orange;}
  25%  {background-color: yellow;}
  37.5%  {background-color: green;}
  50%  {background-color: lightblue;}
  62.5%  {background-color: blue;}
  75%  {background-color: indigo;}
  87.5%  {background-color: violet;}
  100% {background-color: red;}
}
#jsimg1 {
  width: 500px;
  height: 500px;
}
#sec-about h4 {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
#sec-title {
  background-image: url("../img/background1.jpg") !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#sec-title h1 {
  font-size: 96px;
}
#sec-title h3 {
  font-size: 72px;
}
#sec-about, #sec-website, #sec-button {
  background-color: black;
}
#sec-end {
  background-image: url("../img/background2.jpg") !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
