body {
  text-align: center;
  font-family: Century;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
section {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
a img {
  width: 100%; 
  border-style: solid;
  border-color: black;
  border-width: 5px;
}
.jsbutton1 {
  width: 200px;
  height: 100px;
  background-color: yellow;
}
.navbar a {
  color: black;
}
.navbar {
  background-color: yellow;
  font-size: 20px;
  position: sticky;
}
#button {
  font-size: 100px;
  color: white;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
  animation: rainbow 5s linear infinite;
  margin-left: 25%;
  margin-right: 25%;
}
@keyframes rainbow {
  0%   {background-color: red;}
  12.5%  {background-color: orange;}
  25%  {background-color: yellow;}
  37.5%  {background-color: green;}
  50%  {background-color: lightblue;}
  62.5%  {background-color: blue;}
  75%  {background-color: indigo;}
  87.5%  {background-color: violet;}
  100% {background-color: red;}
}
#jsimg1 {
  width: 500px;
  height: 500px;
}
#sec-title {
  background-image: url("");
  width: 100%;
}
#sec-website {
  background-color: ;
}
#sec-end {
  background-image: url("");
  width: 100%;  
}
#sec-button {
  background-color: ; 
}
